:root {
  --bckgrnd: #FFFDED;
  --pumpkin: #EC7C2B;
  --violet: #4F4789;
  --drkvio: #160531;
  --blck: #000000;
}

* {
  margin: 0;
  padding: 0;
}

.header{
  height: 100px;
  width: 100%;
  background-color: var(--bckgrnd);
}

.navbar{
  width: 100%;
}



