@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --bckgrnd: #fffded;
  --hghlght: #C12121;
  --pumpkin: #EC7C2B;
  --violet: #4F4789;
  --drkvio: #160531;
  --blck: #000000;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--drkvio);
}

strong {
  color: var(--violet);
}

h3 {
  color: var(--drkvio);
}

.text {
  font-family: 'Signika Negative';
  font-size: 1.4rem;
  margin: 0;
}

.text:hover {
  color: var(--violet);
}

body {
  background-color: var(--bckgrnd);
}

/* Header Styles */

header {
  height: 100px;
  width: 100%;
  background-color: var(--bckgrnd);
}

.drop-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.062);
}

.navbar {
  width: 100%;
}

#dev-name {
  font-family: 'Spectral Sc';
  margin: 0;
  font-size: 2.5rem;
  text-decoration: none;
}

#dev-name:hover {
  color: var(--violet);
}

.active {
  color: var(--hghlght);
}

/* About Me Styles */

.greeting-container {
  background-color: var(--violet);
  color: var(--bckgrnd);
  width: 90%;
  height: 95%;
  padding: 2rem;
  margin-bottom: 80px;
  text-align: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 20px 20px 0 var(--drkvio);

}

#greeting {
  font-family: 'Spectral Sc';
  color: var(--blck);
}

#dev-avatar {
  height: 500px;
  /* width: 80%; */
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: var(--bckgrnd);
  border: 5px solid var(--blck);
}

/* Footer Styles */

footer {
  /* position: fixed;
  bottom: 0; */
  height: 80px;
  background-color: var(--bckgrnd);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.123);
}

#igithub {
  height: 40px;
  width: 40px;
}